* {
    box-sizing: border-box;
}

.container {
    width: 50%;
    padding: 0.2em;
}

.video {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    transition: transform 250ms ease-in;
    cursor: pointer;
    box-shadow: 2px 5px 11px 2px #9D9D9D;
}

.video:hover {
    transform: scale(1.02);
}

.title,
.channel {
    margin: 0;
}

.metadata {
    margin-left: 0.2em;
}

.thumbnail {
    width: 40%;
    height: 151px;
    /* height: 100%; */
    /* margin-right: 10px; */
}
.title,
.channel {
    font-size: 0.8rem;
}

.channel {
    font-size: 0.9rem;
}